<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Message</title>
</head>
<body>
    <div style="width: 85%; margin: 0 auto;" class="container">
        <header style=" margin: 5px auto;" >
            <div style="display: flex; justify-content: center;">
                <img width="40px" height="50px" style="margin: 2% 20px;" src="https://user-images.githubusercontent.com/75549312/115693021-6ceebe80-a357-11eb-9ce9-d55e046f1175.png" alt="" class="logo">
                <h1 style="font-size: 2rem; margin: 3% 0; font-weight: bold; text-transform: uppercase;">Repeefy</h1>
            </div>
        </header>
        <section>
            <div style="text-align: center; margin: 10% auto 5% auto; width: 45%;">
                <h1 style="text-transform: uppercase;">Thanks for joining us</h1>
                <p>
                    Dear, <%= firstName %>, we're glad to have you as part of our community!
                    <br><br/>
                    <a href="#"/>Dashboard</a>
                </p>
            </div>
            <div style="text-align: center;">
                <img width="50%" height="auto" src="../images/fyngirl.png" alt="">
            </div>
        </section>
        <footer>
            <div style="display: flex; justify-content: space-between;">
                <div style="display: flex;">
                    <img width="30px" height="30px" style="margin: 10px;" src="https://user-images.githubusercontent.com/75549312/115693021-6ceebe80-a357-11eb-9ce9-d55e046f1175.png" alt="">
                    <p style="font-weight: bold;">All rights reserved.</p>
                </div>
                <p style="font-weight: bold;cursor: pointer;">Unsubscribe</p>
            </div>
        </footer>
    </div>
</body>
</html>